{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>socialBook</title>
    <link rel="stylesheet"type="text/css" href="{% static 'css/style.css' %}">
   </head>
   <body>
    <nav>
        <div class="nav-left">
            <img src="{%static 'images/logo.png' %}" class="logo">
            <ul>
            <li><img src="{%static 'images/notification.png' %}"></li>
            <li><img src="{%static 'images/inbox.png' %}"></li>
            <li><img src="{%static 'images/video.png' %}"></li>
            
        </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="{%static 'images/search.png' %}">
                <input type="text" placeholder="search">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="{%static 'images/PROFILE 1.jpg' %}">
            </div>
        </div>
        <div class="settings-menu">
            <div id="dark-btn" class="dark-btn-on">
                <span></span>
            </div>



            <div class="settings-menu-inner">
            <div class="user-profile">
                <img src="{%static 'images/PROFILE 2.jpg' %}">
                <div>
                    <p>Thota Spandana</p>
                    <a href="#">See your profile</a>
                </div>
            </div>
            <hr>
            <div class="user-profile">
                <img src="{%static 'images/feedback.png' %}">
                <div>
                    <p>Give Feedback</p>
                    <a href="#">Help us to improve new design</a>
                </div>
        </div>
        <hr>
        <div class="setting-links">
            <img src="{%static 'images/setting.png' %}" class="settings-icon">
            <a href="a">Settings & Privacy <img src="{%static 'images/arrow.png' %}" width="10px"></a> 
        </div>
        <div class="setting-links">
            <img src="{%static 'images/help.png' %}" class="settings-icon">
            <a href="a">Help & Support <img src="{%static 'images/arrow.png' %}" width="10px"></a> 
        </div>
        <div class="setting-links">
            <img src="{%static 'images/display.png' %}" class="settings-icon">
            <a href="a">Display & Accessibility <img src="{%static 'images/arrow.png' %}" width="10px"></a> 
        </div>
        <div class="setting-links">
            <img src="{%static 'images/logout.png' %}" class="settings-icon">
            <a href="a">logout<img src="{%static 'images/arrow.png' %}" width="10px"></a> 
        </div>
        </div>
    </div>
    </nav>
    <!--------------prpfile page-------------->
    <div class="profile-container">
        <img src="{%static 'images/cover.png' %}" class="cover-img">
        <div class="profile-details">
            <div class="pd-left">
                <div class="pd-row">
                    <img src="{%static 'images/profile.png' %}" class="pd-image">
                <div>
                <h3>James</h3>
                <p>120 Friends -20 mutual</p>
                <img src="{%static 'images/member-1.png' %}">
                <img src="{%static 'images/member-2.png' %}">
                <img src="{%static 'images/member-3.png' %}">
                <img src="{%static 'images/member-4.png' %}">
                

            </div>
        </div>
    </div>
            <div class="pd-right">
<button type="button"><img src="{%static 'images/add-friends.png' %}">Friends</button>
<button type="button"><img src="{%static 'images/message.png' %}">Message</button>
<br>
<a href=""><img src="{%static 'images/more.png' %}"></a>




            </div>
        </div>
        <div class="profile-info">
            <div class="info-col">
<div class="profile-intro">
    <h3>Intro</h3>
    <p class="intro-text">Believe in yourself and you can unbelievable things.<img src="{%static 'images/feeling.png' %}"></p>
    <hr>
    <ul>
        <li><img src="{%static 'images/profile-job.png' %}">Software Developer Intern at Workcohol private limited solutions</li>
        <li><img src="{%static 'images/profile-study.png' %}">Studied at Vikas Group of Institutions,Nunna</li>
        <li><img src="{%static 'images/profile-home.png' %}">Lives in Nuzvid</li>
    </ul>
</div>
<div class="profile-intro">
    <div class="title-box">
    <h3>Photos</h3>
    <a href="">All Photos</a>
</div>
    <div class="photo-box">
        <div><img src="{%static 'images/photo1.png' %}"></div>
        <div><img src="{%static 'images/photo2.png' %}"></div>
        <div><img src="{%static 'images/photo3.png' %}"></div>
        <div><img src="{%static 'images/photo4.png' %}"></div>
        <div><img src="{%static 'images/photo5.png' %}"></div>
        <div><img src="{%static 'images/photo6.png' %}"></div>
    </div>
</div>

<div class="profile-intro">
    <div class="title-box">
    <h3>Friends</h3>
    <a href="">All Friends</a>
</div>
<p>120 (10 mutual)</p>
    <div class="friends-box">
        <div><img src="{%static 'images/member-1.png' %}"><p>Amulya</p></div>
        <div><img src="{%static 'images/member-2.png' %}"><p>Johnson</p></div>
        <div><img src="{%static 'images/member-3.png' %}"><p>Priyanka</p></div>
        <div><img src="{%static 'images/member-4.png' %}"><p>Victor</p></div>
        <div><img src="{%static 'images/member-5.png' %}"><p>prem</p></div>
        <div><img src="{%static 'images/member-6.png' %}"><p>Harshitha</p></div>
        <div><img src="{%static 'images/member-7.png' %}"><p>vijay</p></div>
        <div><img src="{%static 'images/member-8.png' %}"><p>Akanksha</p></div>
        <div><img src="{%static 'images/member-9.png' %}"><p>Akshay</p></div>
    </div>
</div>




            </div>
            <div class="post-col">
                <div class="write-post-container">
                    <div class="user-profile">
                        <img src="{%static 'images/PROFILE 2.jpg' %}">
                        <div>
                            <p>Thota Spandana</p>
                            <small>public</small>
                        </div>
                    </div>
                    <div class="post-input-container">
                        <textarea rows="3" placeholder="Whats on your mind spandana?"></textarea>
                        <div class="add-post-links">
                            <a href="#"><img src="{%static 'images/live-video.png' %}">Live Vedio</a>
                            <a href="#"><img src="{%static 'images/photo.png' %}">Photo/Vedio</a>
                            <a href="#"><img src="{%static 'images/feeling.png' %}">Feeling/Activity</a>
                        </div>
                    </div>
            
            
            </div>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{%static 'images/PROFILE 2.jpg' %}">
                        <div>
                            <p>Thota Spandana</p>
                            <span>June 24 2021,9:50 pm</span>
                        </div>
                    </div>
                    <a href="#">⋮</a>
                </div>
               
            <p class="post-text">A strong community is built on shared values, open conversations, and the power of connection."<a href="#">#SocialCommunity</a></p>
            <img src="{%static 'images/feed-image-1.png' %}" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{%static 'images/like-blue.png' %}">127</div>
                    <div><img src="{%static 'images/comments.png' %}">45</div>
                    <div><img src="{%static 'images/share.png' %}">568</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{%static 'images/PROFILE 2.jpg' %}">
            
                </div>
            </div>
            </div>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{%static 'images/PROFILE 2.jpg' %}">
                        <div>
                            <p>Thota Spandana</p>
                            <span>march 18 2022,4:50 pm</span>
                        </div>
                    </div>
                    <a href="#">⋮</a>
                </div>
               
            <p class="post-text">"Under the starlit sky, as the campfire crackles, stories are shared, laughter echoes, and hearts grow warmer—reminding us that the best moments in life are those spent together." 🔥✨</a></p>
            <img src="{%static 'images/feed-image-2.png' %}" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{%static 'images/like-blue.png' %}">76</div>
                    <div><img src="{%static 'images/comments.png' %}">24</div>
                    <div><img src="{%static 'images/share.png' %}">17</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{%static 'images/PROFILE 2.jpg' %}">
            
                </div>
            </div>
            </div>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{%static 'images/PROFILE 2.jpg' %}">
                        <div>
                            <p>Thota Spandana</p>
                            <span>April 9 2022,8:35 am</span>
                        </div>
                    </div>
                    <a href="#">⋮</a>
                </div>
               
            <p class="post-text">"A true social community thrives when voices are heard, differences are embraced, and connections turn strangers into family." 💬❤️</a></p>
            <img src="{%static 'images/feed-image-3.png' %}" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{%static 'images/like-blue.png' %}">29</div>
                    <div><img src="{%static 'images/comments.png' %}">248</div>
                    <div><img src="{%static 'images/share.png' %}">168</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{%static 'images/PROFILE 2.jpg' %}">
            
                </div>
            </div>
            </div>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{%static 'images/PROFILE 2.jpg' %}">
                        <div>
                            <p>Thota Spandana</p>
                            <span>may 8 2022,6:18 pm</span>
                        </div>
                    </div>
                    <a href="#">⋮</a>
                </div>
               
            <p class="post-text">"Community is not just about being together, but about growing together—lifting, supporting, and inspiring each other every step of the way." 🌍💙</a></p>
            <img src="{%static 'images/feed-image-4.png' %}" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{%static 'images/like-blue.png' %}">29</div>
                    <div><img src="{%static 'images/comments.png' %}">53</div>
                    <div><img src="{%static 'images/share.png' %}">245</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{%static 'images/PROFILE 2.jpg' %}">
            
                </div>
            </div>
            </div>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{%static 'images/PROFILE 2.jpg' %}">
                        <div>
                            <p>Thota Spandana</p>
                            <span>oct 03 2023,7:38 pm</span>
                        </div>
                    </div>
                    <a href="#">⋮</a>
                </div>
               
            <p class="post-text">"Alone, we may go fast, but together as a community, we go far." 🚀🌍</a></p>
            <img src="{%static 'images/feed-image-5.png' %}" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{%static 'images/like-blue.png' %}">3</div>
                    <div><img src="{%static 'images/comments.png' %}">30</div>
                    <div><img src="{%static 'images/share.png' %}">83</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{%static 'images/PROFILE 2.jpg' %}">
            
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>











   
    <div class="footer">
        <p>Copyright 2021 - Social community Platform</p>
    </div>
    <script src="{% static 'js/script.js' %}"defer></script>
   </body>
   </html>     
